PORT=5000
# Inserisci qui la tua stringa di connessione a MongoDB quando disponibile
# Es. mongodb://localhost:27017/vetclinic oppure mongodb+srv://<user>:<password>@cluster.mongodb.net/vetclinic
MONGODB_URI=
JWT_SECRET=vetclinic_jwt_super_secret_key_2026_dev
NODE_ENV=development
